
DeepLearning/Homework1_P2/miniknn.png
DeepLearning/Homework1_P3/__pycache__/download_mnist.cpython-37.pyc
VR-Lab/.DS_Store
DeepLearning/.DS_Store
.DS_Store
.DS_Store
DeepLearning/Homework4/data/cifar-10-batches-py/batches.meta
DeepLearning/Homework4/data/cifar-10-batches-py/data_batch_1
DeepLearning/Homework4/data/cifar-10-batches-py/data_batch_2
DeepLearning/Homework4/data/cifar-10-batches-py/data_batch_3
DeepLearning/Homework4/data/cifar-10-batches-py/data_batch_4
DeepLearning/Homework4/data/cifar-10-batches-py/data_batch_5
DeepLearning/Homework4/data/cifar-10-batches-py/readme.html
DeepLearning/Homework4/data/cifar-10-batches-py/test_batch
DeepLearning/Homework4/data/cifar-10-python.tar.gz
DeepLearning/PTB-LSTM test/2LSMT.pt
DeepLearning/PTB-LSTM test/Long_trained.pt
