<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework6</title>
</head>
<body bgcolor="lightgray">
    <h1 align="center">Dazhi's Guest List</h1>
    <p align="center">Welcome to Dazhi's guest list, if you are a guest who have already gotten an INVITATION please sign in</p>
    <p align="center">if you are a new guest, please sign up for an account so we can INVITE you</p>
    <div align="center">
    <a href="/signin">
        <button>Sign in</button>
    </a>
    or
    <a href="/signup">
        <button>Sign Up</button>
    </a>
    </div>
</body>
</html>