<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body bgcolor="lightgray">
    <h1 align="center">Welcome to be a new guest</h1>
    <p align="center">Here you need to finish a form about you and you will receive a INVITATION</p>
    <div align="center">
    <form action = "http://localhost:5000/signup" method = "post">
        <p>How do we call you?</p>
        <p><input type = "text" name = "guest_name" /></p>
        <p>What's your e-mail address?</p>
        <p><input type = "text" name = "guest_email" /></p>
        <p><input type = "submit" value = "Next" /></p>
    </form>
    </div>
</body>
</html>